<div class="d-flex mb-3">
  <button
    routerLink="/task/create/{{ workId }}"
    class="btn btn-success btn-lg float-right"
  >
    <span class="fa fa-solid fa-plus me-2"></span>Add Task
  </button>
</div>
<div class="row">
  <div class="col-3">
    <app-task-card></app-task-card>
  </div>
  <div class="col-3">
    <app-task-card></app-task-card>
  </div>
  <div class="col-3">
    <app-task-card></app-task-card>
  </div>
  <div class="col-3">
    <app-task-card></app-task-card>
  </div>
  <div class="col-3">
    <app-task-card></app-task-card>
  </div>
  <div class="col-3">
    <app-task-card></app-task-card>
  </div>
  <div class="col-3">
    <app-task-card></app-task-card>
  </div>
  <div class="col-3">
    <app-task-card></app-task-card>
  </div>
</div>
