<div class="d-flex justify-content-center">
  <h1>{{ workName | titlecase }}</h1>
</div>
<div class="d-flex mb-3">
  <button
    routerLink="/task/create/{{ workId }}"
    class="btn btn-success btn-lg float-right"
  >
    <span class="fa fa-solid fa-plus me-2"></span>Add Task
  </button>
</div>
<div class="row" *ngIf="todos[0]">
  <div class="col-3" *ngFor="let todo of todos">
    <app-task-card [todo]="todo"></app-task-card>
  </div>
</div>

<div *ngIf="!todos[0]">
  <div class="col-8">
    <div class="alert alert-info">
      <strong>Infomation:</strong>This Project Dosen't have any Tasks Yet,
      Create First Task Using Add Task Button
    </div>
  </div>
</div>

<!-- <div *ngFor="let todo of todos">
  <app-task-card [todo]="todo"></app-task-card>
</div> -->
