<div class="container mt-5">
  <div
    *ngIf="!registerMode && (accountService.currentUser$ | async) === null"
    style="text-align: center"
  >
    <div>
      <h2 class="text-center text-secondary">Project Management</h2>
      <hr />
      <img
        style="max-width: 35%; height: 30%"
        class="img-flui"
        src="{{ './assets/1.jpg' }} "
        alt=""
      />
    </div>
    <div class="text-center">
      <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">
        Register
      </button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
  </div>

  <div
    *ngIf="registerMode && (accountService.currentUser$ | async) === null"
    class="container"
  >
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register
          (cancelRegister)="cancelRegisterMode($event)"
        ></app-register>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="container mt-5">
    <div class="">
      <div class="row justify-content-center">
        <div class="col-8">
          <div
            *ngIf="
              (accountService.currentUser$ | async) &&
              (pending >= 1 || complete >= 1 || todo >= 1)
            "
          >
            <h2 class="text-center text-primary">Task Distribution</h2>
            <hr />
            <div class="ml-1">
              <app-pie-chart
                [todo]="todo"
                [pending]="pending"
                [complete]="complete"
              ></app-pie-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="justify-content-center0"
  *ngIf="
    (accountService.currentUser$ | async) &&
    pending == 0 &&
    complete == 0 &&
    todo == 0
  "
>
  <div class="col-8">
    <div class="alert alert-info">
      <strong>Infomation:</strong>You don't have assined Tasks
    </div>
  </div>
</div>
