<div class="card mb-4" style="width: 20rem">
  <div class="card-body">
    <h5 class="card-title">{{ todo.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Status: {{ todo.status }}</h6>
    <p class="card-text">{{ todo.description }}</p>

    <div class="mb-2">
      <div class="me-2">
        Due Date : {{ todo.dueDate | date : "dd MMM yyyy" }}
      </div>
      <p>
        Assinee:
        <a
          routerLink="/members/{{ todo.assigneeName }}"
          class="card-link me-1"
          >{{ todo.assigneeName }}</a
        >
      </p>
    </div>

    <div class="d-flex">
      <div class="d-flex me-2">
        <label class="me-1">Status:</label>
        <select class="form-select" style="width: 130px" name="gender">
          <option class="form-options">Pending</option>
          <option class="form-options">Complete</option>
        </select>
      </div>
      <button
        type="button"
        class="btn btn-danger btn-s mx-1"
        routerLink="/task/list/{{ todo.workId }}"
        (click)="deleteTodo(todo.todoId)"
      >
        <span class="fa fa-trash"></span>
      </button>
      <button
        type="button"
        class="btn btn-success btn-s"
        routerLink="/task/edit"
      >
        <span class="fa fa-edit"></span>
      </button>
    </div>
  </div>
</div>
