<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Project Title</h5>
    <p class="card-text">discription</p>

    <button routerLink="/task/list" class="btn btn-info">Go To Project</button>
    <button type="button" class="btn btn-danger btn-s mx-2">
      <span class="fa fa-trash"></span>
    </button>
    <button
      type="button"
      class="btn btn-success btn-s"
      routerLink="/project/edit"
    >
      <span class="fa fa-edit"></span>
    </button>
  </div>
  <div class="card-footer text-muted">
    Created By: <a href="#" class="card-link">Creater</a>
  </div>
</div>
