<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">{{ works.workName }}</h5>
    <p class="card-text">{{ works.workDescription }}</p>

    <button routerLink="/task/list/{{ works.workId }}" class="btn btn-info">
      Go To Project
    </button>
    <button
      type="button"
      class="btn btn-danger btn-s mx-2"
      routerLink="/project"
      (click)="deleteWork(works.workId)"
    >
      <span class="fa fa-trash"></span>
    </button>
    <button
      type="button"
      class="btn btn-success btn-s"
      routerLink="/project/edit"
    >
      <span class="fa fa-edit"></span>
    </button>
  </div>
  <div class="card-footer text-muted">
    Created By:
    <a routerLink="/members/{{ works.createrName }}" class="card-link">{{
      works.createrName
    }}</a>
  </div>
</div>
