<form
  [formGroup]="addTodo"
  autocomplete="off"
  (ngSubmit)="addTodo.valid && addTodos()"
>
  <h2 class="text-center text-primary">Add Todo</h2>
  <hr />

  <app-text-input
    [formControl]="$any(addTodo.controls['title'])"
    [label]="'title'"
  ></app-text-input>

  <app-textarea-input
    [formControl]="$any(addTodo.controls['description'])"
    [label]="'discription'"
  >
  </app-textarea-input>

  <app-date-picker
    [formControl]="$any(addTodo.controls['dueDate'])"
    [label]="'Due Date'"
    [minDate]="minDate"
  ></app-date-picker>

  <!-- drop down -->
  <div class="d-flex px-2">
    <label class="col-form-lable me-2">Assign to: </label>
    <select
      class="form-select ms-1"
      style="width: 130px"
      name="gender"
      [formControl]="$any(addTodo.controls['assigneeName'])"
    >
      <option class="form-options" *ngFor="let member of members">
        {{ member.username }}
      </option>
    </select>
  </div>

  <div class="row" *ngIf="validationErrors">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">
        {{ error }}
      </li>
    </ul>
  </div>

  <div class="text-center">
    <button
      [disabled]="!addTodo.valid"
      class="btn btn-success me-2"
      type="submit"
    >
      Submit
    </button>
    <button
      class="btn btn-danger me-2"
      routerLink="/task/list/{{ workId }}"
      type="button"
    >
      Cancel
    </button>
  </div>
</form>

<!-- json output to chech form status -->

<p>Form value: {{ addTodo.value | json }}</p>
<p>Form value: {{ addTodo.status | json }}</p>
<p>Form validity: {{ addTodo.valid | json }}</p>
