<form
  [formGroup]="addWork"
  (ngSubmit)="addWork.valid && addWorks()"
  autocomplete="off"
>
  <h2 class="text-center text-primary">Add Project</h2>
  <hr />
  <app-text-input
    [formControl]="$any(addWork.controls['workName'])"
    [label]="'title'"
  ></app-text-input>
  <app-text-input
    [formControl]="$any(addWork.controls['workDescription'])"
    [label]="'discription'"
  ></app-text-input>
  <!-- <app-textarea-input
    [formControl]="$any(addWork.controls['discription'])"
    [label]="'Discription'"
  >
  </app-textarea-input> -->
  <div class="text-center">
    <button
      [disabled]="!addWork.valid"
      class="btn btn-success me-2"
      type="submit"
    >
      Submit
    </button>
    <button class="btn btn-danger me-2" routerLink="/project" type="button">
      Cancel
    </button>
  </div>
</form>

<!-- json output to chech form status -->

<p>Form value: {{ addWork.value | json }}</p>
<p>Form value: {{ addWork.status | json }}</p>
<p>Form validity: {{ addWork.valid | json }}</p>
