<form
  [formGroup]="registerForm"
  (ngSubmit)="registerForm.valid && register()"
  autocomplete="off"
>
  <h2 class="text-center text-primary">Add Project</h2>
  <hr />
  <app-text-input
    [formControl]="$any(registerForm.controls['title'])"
    [label]="'title'"
  ></app-text-input>
  <app-textarea-input
    [formControl]="$any(registerForm.controls['discription'])"
    [label]="'Discription'"
  >
  </app-textarea-input>
  <div class="text-center">
    <button
      [disabled]="!registerForm.valid"
      class="btn btn-success me-2"
      type="submit"
    >
      Submit
    </button>
    <button class="btn btn-danger me-2" routerLink="/project" type="button">
      Cancel
    </button>
  </div>
</form>

<!-- json output to chech form status -->

<!-- <p>Form value: {{ registerForm.value | json }}</p>
<p>Form value: {{ registerForm.status | json }}</p>
<p>Form validity: {{ registerForm.valid | json }}</p> -->
